{% extends '::colorbox.html.twig' %}


{% block body %}

<div class="row">

    <div class="four columns">
    
        <img src={{user.profile.image}} alt="{{user.getIdentifier()}}" />
    
    </div>
    <div class="eight columns">
    
        <h2><a class="view_profile" href="{{path('profile', {'id': user.getProfileIdentifier()})}}" >{{user.getIdentifier()}}</a></h2>
        
        {% if user.profile.introduction!="" %}
        
            <p>{{user.profile.introduction}}</p>
        
        {% endif %}
        
   
    </div>
{% endblock %}