<div class="row">

    <div class="twelve columns">

        <h2>Profile</h2>

    </div>

</div>
<div class="row">

    <div class="two columns"></div>

    <div class="eight columns">

        <img src="{{my_user.profile.getImage()}}" alt="Zimtam User Profile Image" class="profile_image" />

    </div>

    <div class="two columns"></div>

</div>
<div class="row padding-15">


    <div class="twelve columns profile_details padding-5">

        <div class="row">

            <div class="twelve columns"><strong>
                <span>{{user.getIdentifier()}}</span>
                </strong></div>

        </div>
        <div class="row">

            <div class="five columns">
                <span><strong>
                    Member for
                </strong></span>
            </div>

            <div class="seven columns">

                <span class="numbers">
        {% for number in NG.getNumber(user.profile.getDaysOld()) %}

            <span>{{ number }}</span>

        {% endfor %}

                </span>
                <span><strong>days</strong></span>

            </div>

        </div>

        <div class="row">

            <div class="eight columns">
                <span><strong>
                    Goals Set
                </strong></span>
            </div>

            <div class="four columns">

                <span class="numbers">
        {% for number in NG.getNumber(user.getGoalCount()) %}

            <span>{{ number }}</span>

        {% endfor %}

                </span>


            </div>

        </div>

        <div class="row">

            <div class="eight columns">
                <span><strong>
                    Goals Supported
                </strong></span>
            </div>

            <div class="four columns">

                <a href="{{path('network_supporting', {id : user.getProfileIdentifier()})}}" class="cb">

                    <span class="numbers">

                        {% for number in NG.getNumber(user.getSupportedGoalCount()) %}

                            <span>{{ number }}</span>

                        {% endfor %}

                    </span>

                </a>

            </div>

        </div>
        <div class="row">

            <div class="eight columns">
                <span><strong>
                    Friends
                </strong></span>
            </div>

            <div class="four columns">

                <a href="{{path('network_friends', {id : user.getProfileIdentifier()})}}" class="view_friends">

                    <span class="numbers">

                        {% for number in NG.getNumber(user.getFriendCount()) %}

                            <span>{{ number }}</span>

                        {% endfor %}

                    </span>

                </a>

            </div>

        </div>

    </div>

</div>

