{% extends '::colorbox.html.twig' %}

{% block body %}

<div class="row">

    <div class="twelve columns">
    
    

    <form action="{{path('profile_edit')}}" target="edit_profile" method="post" {{form_enctype(form)}}>

        {{form_rest(form)}}
        {{form_errors(form)}}
        <input type="submit" value="Save" />
    
    </form>
    
    </div>
    <iframe id="edit_profile_iframe" name="edit_profile" style="display:none"></iframe>
{% endblock %}