{% extends '::unauthenticated.html.twig' %}

{%  block first_nav %}

    <ul class="first_nav">

        <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ path('profile') }}">Profile</a></li>
    </ul>

{%  endblock %}

{% block second_nav %}
    <ul class="second_nav">

        <li><a href="{{ path('search') }}">Search</a></li>

    </ul>
{%  endblock %}

{% block third_nav %}
    <ul class="third_nav">

        <li><a href="{{ path('logout') }}">Logout</a></li>
    </ul>
{% endblock %}
{%  block day_old %}

    <div class="days_old numbers">

        {% for number in NG.getNumber(my_user.getProfile().getDaysOld()) %}

        <span>{{ number }}</span>

        {% endfor %}

    </div>

{%  endblock %}

