<div id="cb_wrapper">

    <div class="row">
    
        <div class="twelve columns">

            <h2>{{title}}</h2>
            
        </div>
        
    </div>
 
    <div class="row">
    
        <div class="twelve columns">
 {% block body %}
 
 {% endblock %}
</div>
</div>
</div>