<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
 <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Zimtam | Be Inspired</title>
  



  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


        <title>{% block title %}Zimtam | Be Inspired{% endblock %}</title>
          <link rel="stylesheet"  href="{{asset('css/library/foundation.min.css')}}" />
          <link rel="stylesheet"  href="{{asset('css/library/app.css')}}" />
          <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" /> 
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div class="row header shadow_box">

        <div class="three columns">

            <img src="/img/Logo.png" alt="Zimtam - Be Inspired" />
        </div>
        <div class="five columns">

            {%  block first_nav %}{%  endblock %}

            {% block second_nav %}{%  endblock %}
        </div>
        <div class="three columns">
            {%  block day_old %}{%  endblock %}
        </div>
        <div class="one column">
            {% block third_nav %}{% endblock %}
        </div>

    </div>

        {% block body %}{% endblock %}     


       <script src="/js/modernizr.foundation.js"></script>
       <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
       <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
         {% block json %}{% endblock %}
         {% block javascripts %}{% endblock %}

    </body>
</html>
