{% extends '::colorbox.html.twig'%}
{% block body %}

<div class="row">

    <div class="twelve columns">
           
        {% for friend in user.getFriendsWith() %}
        
           <div class="row">

                <div class="twelve columns">               
                    <div class="friend_container">
                    
                        <div class="post_profile_image">
        
                            <img width= "45" src="{{friend.getProfile().getImage()}}" />
                        </div>
            
                        <div class="post">
                            <div><a href="{{path( 'profile_mini', {'id': friend.getProfileIdentifier()} )}}" class="view_profile" >{{friend.getIdentifier()}}</a></div>
                        </div>
                    
                    </div>
                 
                 </div>

                 {% if user.equals(my_user) %}
           
                     <div class="row">

                         <div class="twelve columns">
                         
                             <div class="control_panel">
        
                            <ul>
                            
                                <li><a href="{{path('network_friend_remove',{'id':friend.getProfileIdentifier()})}}">Remove</a></li> 
 
                            </ul>
    
                        </div>
                        </div>
                        </div>
                 {% endif %}
            </div>               
        {% endfor %}
                  

{% endblock %}