{% extends '::colorbox.html.twig'%}
{% block body %}

<div class="row">

    <div class="twelve columns">
           
        <div class="row">
    
   

            <div class="twelve columns">  

                {% include 'ZTUserBundle:Default:new_goal_list.html.twig' with { 'goals': supported_goals} %}
                  
            </div>

                
        </div>
{% endblock %}