<html>
<head>
    <title>Your goal has a new supporter!</title>
</head>
<body>
<div>
    <p>Hey {{  data['goal'].user.getProfileIdentifier() }},</p>
    <p>{{ data['supporter'].getIdentifier() }} has is now supporting your goal {{ data['goal'].title }}</p>
    <p><a href="{{ url('profile_view', {'id': data['supporter'].getProfileIdentifier() }) }}">Click here to view {{ data['goal'].user.getProfileIdentifier() }}'s profile</a></p>
</div>
</body>
</html>