<html>
<head>
    <title>You have a new post on your goal!</title>
</head>
<body>
<div>
    <p>Hey {{  post.goal.user.getProfileIdentifier() }},</p>
    <p>{{ post.user.username }} has posted a comment on your goal: {{ post.goal.title }}</p>
    <p><a href="{{ url('goal_view', {'goal_id': post.goal.id }) }}">Click here to view the comment</a></p>
</div>
</body>
</html>