<html>
<head>
    <title>Your Password Reset Request</title>
</head>
<body>
<div>
    <p>Hey {{  data['user'].getProfileIdentifier() }},</p>
    <p>We have received a request to reset your password</p>
    <p>If you wish to reset your password, <a href="{{ url('password_reset', {'key': data['password_request'].getResetKey() }) }}">Click here</a></p>
</div>
</body>
</html>