{% extends '::colorbox.html.twig'%}
{% block body %}
<div id="add_message_container">

    <div class="row">

        <form action="{{path('message_create',{'reply_id': reply_id})}}" id="create_message"  method="post">

            <div class="twelve columns">

                <div class="row">

                    <div class="two columns">
                        {{form_label(form.to)}}
                    </div>

                    <div class="ten columns">
                        {{form_widget(form.to)}}
                    </div>

                </div>

                <div class="row">

                    <div class="six columns">
                        {{form_label(form.subject)}}
                    </div>

                    <div class="six columns">
                        {{form_widget(form.subject)}}
                    </div>

                </div>

                <div class="row">

                    <div class="twelve columns">
                        {{form_label(form.body)}}
                    </div>

                </div>
                <div class="row">

                    <div class="twelve columns">
                        {{form_widget(form.body)}}
                    </div>

                </div>
                <div class="row">

                    <div class="twelve columns">
                        <input type="submit" class="submit" value="Send" />
                    </div>

                </div>
            </div>

        </form>


    </div>

</div>
{% endblock %}