<div class="twelve columns">

    {%  if messages|length > 0 %}

        {%   for m in messages %}

            <div class="row">

                <div class="twelve columns">

                    <div class="row view_message">

                        <div class="three columns">

                            <img src="{{ m.from.profile.getImage() }}" alt="{{ m.from.getIdentifier() }}" title="{{ m.from.getIdentifier() }}" />

                        </div>
                        <div class="nine columns">
                            <input type="hidden" class="message_id" value="{{ m.id }}" />
                            <dl>
                                <dt>{{ m.subject }}</dt>
                                <dd>{{ m.body|truncate(20) }}</dd>

                            </dl>

                        </div>

                    </div>

                </div>

            </div>

        {%  endfor %}

    {%  endif %}

</div>

