{% extends '::colorbox.html.twig'%}
{% block body %}

    <div class="row">

        <div class="twelve columns">

            <div class="control_panel">

                <ul>
                    <li><a class="delete_message" href="{{ path('message_delete', {'id' : message.id}) }}">Delete</a></li>
                    <li><a class="create_message" href="{{ path('message_create', {'reply_id' : message.id}) }}">Reply</a></li>
                </ul>

            </div>

            {%  if history|length > 0 %}

                {%  for h in history %}

                    <div class="row message">

                        <div class="twelve columns">

                            <div class="message_title">

                                <p>From: {{ h.from.getIdentifier() }}</p>
                                <p>Subject: {{ h.subject }}</p>
                            </div>
                            <div class="message_body">

                                <pre>{{ h.body }}</pre>

                            </div>
                        </div>

                    </div>

                {%  endfor %}

            {%  endif %}

            <div class="row message">

                <div class="message_title">

                    <p>From: {{ message.from.getIdentifier() }}</p>
                    <p>Subject: {{ message.subject }}</p>
                </div>
                <div class="message_body">

                    <pre>{{ message.body }}</pre>

                </div>

            </div>

        </div>

    </div>

{% endblock %}