.header{ background-color: #333;font-weight: bold;
}
.header ul{ list-style-type:none;}
.header a{ color:#fff; text-decoration:none;}
.header ul.first_nav{float:left;}
.header ul.second_nav{float:right;}

.header ul.first_nav,
.header ul.second_nav{margin-top:73px;margin-bottom:0px;}


.header ul.first_nav li,
.header ul.second_nav li{ display:inline; padding:0 5px; }

.shadow_box{

    -moz-box-shadow:        0px 3px 6px 2px #ccc;
    -webkit-box-shadow: 0px 3px 6px 2px #ccc;
    box-shadow:         0px 3px 6px 2px #ccc;
}

div#cb_wrapper{width:100%; padding: 15px;}
div#cb_wrapper>.row{
    min-width:100%;
    max-width:100%;

}

#cboxLoadedContent{opacity:0.9;filter:alpha(opacity=90)}

label{display:inline}
iframe{display:none;}
.days_old{
    background-image:url('/img/days_old_bg.png');
    width:196px;
    height:99px;

}
.days_old{
    padding-top:39px;
    padding-left:10px;
text-align:center;
}
.numbers span{
font-size:20px;
    background-color:#ccc;
    margin:0px 2px;
    padding:0px 2px;
}

.days_old .numbers span{
    font-size:20px;
    background-color:#ccc;
    margin:0px 5px;
    padding:0px 2px;
}


.red_header{
    background-color: #f00;

    margin:15px 0px;
}
h2{
    font-size:14px;
    font-weight:bold;
    margin:4px;
}
.red_header h2{

    color: #fff;
}
.grey_header{
    background-color: #fff;
    border-top: 1px solid #ccc;border-left: 1px solid #ccc;
    margin:15px 0px;
}

.grery_header h2{

    color: #fff;
}
.grey_side_panel{

    background-color:#efefef;
    margin-top:15px;

}
.red_side_panel{

    background-color:#f00;
    margin-top:15px;

}

.center_panel{

    background-color:#efefef;
}

.padding-2{ padding:2px;}
.padding-3{ padding:3px;}
.padding-5{ padding:5px;}
.padding-15{ padding:15px;}
.no-padding{ padding:0px;}
.left-padding, .left-padding-15{ padding:0px;padding-left:15px;}
.left-padding-2{ padding:0px;padding-left:2px;}
.left-padding-5{ padding:0px;padding-left:5px;}
.right-padding, .right-padding-15{ padding:0px;padding-right:15px;}
.right-padding-2{ padding:0px;padding-right:2px;}
.right-padding-5{ padding:0px;padding-right:5px;}
.top-padding-100{ padding:0px;padding-top:100px;}
.profile_image{

    border:1px solid #333;

}

.profile_details{

    border:1px solid #333;
    background-color:#fff;

}

.profile_details span{font-size:11px;}

.profile_details .row{ padding-bottom:4px;}

.goal_list_container .goal{ border:1px solid #333; background-color:#fff;margin-top:15px; }
.post_list_container .post{ border:1px solid #333; background-color:#fff;margin-top:15px; }


.goal_list_container .goal .new_goal_header{background-color:#f00;}
.post_list_container .post .new_post_header{
    background-color:#363;


}

.goal_list_container .goal .new_goal_header h3{
    margin:5px;
    font-size:12px;
    color:#fff;

}

.post_list_container .post  h3{
    margin:5px;
    font-size:12px;


}
.post_list_container .post .new_post_header h3{
    color:#fff;
}
.new_goal_body img, .new_post_body img{float:right;}
.new_goal_body p,
.new_goal_body span,
.new_post_body p,
.new_post_body span{font-size:12px;}


.post{

    position:relative;
}

.post img{

    position:absolute;border:1px solid #333;
}

.fc-event-title{
    display:none;

}
.fc-border-separate{

    border:1px solid #333;
}
.fc-header{
margin-top:15px;
    background:none;
    border:none;
}

.control_panel ul{ list-style-type:none;}
.control_panel ul li{font-size:9px; display:inline-block}



.row form .row .column, .row form .row .columns{

    padding-bottom:10px;
}
/*.header{*/
    /*padding-bottom:4px;*/
    /*margin-bottom :100px;*/
   /*position:relative;*/
    /*background-color: #000;     padding-left:230px;*/

/*}*/

/*.main_count{*/
    /*margin-top:60px;*/
    /*text-align:center;*/

/*}*/

/*.control_panel ul{ list-style-type:none;}*/
/*.control_panel ul li{font-size:9px; display:inline-block}*/

/*h2{*/

/*font-size:14px;*/
/*color:#8b8b8b; */

/*}*/

/*.goal h3{*/

/*font-size:14px;*/

/*}*/

/*table.profile tr th,*/
/*table.profile tr td{*/

    /*vertical-align:middle;    */

/*}*/

/*.header > div{*/

 /**/
 /*position:relative;*/
 /*top:0px;*/
 /*left:0px;  */
 /*background-color: #D1D1D1; */

/*}*/
/*.main_logo{*/
/*position:absolute;  */
/*position:absolute;*/
 /**//**//*  left:-220px; */
 /*z-index:10;*/
 /*}*/

 /*.top_nav{*/

 /*}*/

/*.top_nav ul{*/
 /*position:relative;*/
 /*top:0px;*/
 /*left:250px; *//*       */
 /*list-style-type:none;*/
 /**/
/*}*/
/*.top_nav ul li{*/
/*display:inline-block;*/
/*padding:5px; 10px;*/
/*font-size:10px;*/
/*font-weight:bold;*/
/*color:#fff;*/
/*}*/
/*div.age_in_days{*/

  /*float:right;*/
/*}div.header_search{*/

  /*float:left;*/
/*}*/


/*.post_profile_image,*/
/*.post, .goal{*/
        /*float:left;    margin-bottom:10px;*/
/*}*/

/*.post_profile_image*/
/*{*/
    /*width:50px;*/
    /*padding-right:5px;*/
/*}*/

/*div.goal_view{*/

/*margin-bottom:30px;*/

/*}*/



/*#new_post_list_container div.new_post_header{background-color:#66f;border:1px solid #66f;}*/
/*#new_post_list_container div.new_post_body{ background-color:#fff;border:1px solid #66f;}*/
/*#new_post_list_container div.new_post_body_hover{background-color:#99f;border:1px solid #66f;}*/
/*#new_post_list_container .post{width:95%;}*/

/*.network_goals .goal_list_container div.new_goal_header{background-color:#cfcfcf;border:1px solid #cfcfcf;}*/
/*.network_goals .goal_list_container div.new_goal_body{ background-color:#fff;border:1px solid #cfcfcf;}*/
/*.other_goals .goal_list_container div.new_goal_header{background-color:#cfffcf;border:1px solid #cfffcf;}*/
/*.other_goals .goal_list_container div.new_goal_body{ background-color:#fff;border:1px solid #cfffcf;}*/
/*.goal_list_container .goal{width:95%;}*/

/*#new_post_list_container div.new_post_header h3,*/
/*.goal_list_container div.new_goal_header h3*/
/*{*/
    /*color:#fff;*/
    /*font-size:100%;*/
    /*margin:0px;*/
    /*padding:2px;*/
    /*font-weight:normal;*/
/*}*/

/*#new_post_list_container p,*/
/*.goal_list_container p{*/
    /*margin:0px;*/
/*}*/

/*div.new_post_header>div>h3,*/
/*div.new_goal_header>div>h3{*/

    /*text-align:left;*/

/*}*/
/*.goal_list_container div.poster_image{*/
 /*padding:5px;*/
/*}*/
/*.fc-header{*/
    /*border:none;*/
/*}*/
/*.fc-event-title {*/
    /*display: none;*/
/*}*/

/*ul{*/

    /*list-style-type: none;*/
/*}*/