{% extends '::colorbox.html.twig'%}
{% block body %}

        <div class="row">

            <div class="five columns">

                <div class="row">

                    <div class="twelve columns">

                        <h3>Your Goals</h3>
                        <ul>

                            {%  if user_goals is not empty %}

                                {%  for goal in user_goals %}

                                <li> <a class="view_goal" href="{{ path('goal_view', {'goal_id' : goal.id}) }}">{{ goal.title }}</a> </li>

                                {%  endfor %}



                            {%  else %}

                                <li>You have no goals set for today</li>

                            {%  endif %}
                        </ul>

                    </div>

                </div>
                <div class="row">

                    <div class="twelve columns">

                        <h3>Goals In Your Network</h3>
                        <ul>

                            {%  if network_goals is not empty %}

                                {%  for goal in network_goals %}

                                <li> <a class="view_goal" href="{{ path('goal_view', {'goal_id' : goal.id}) }}">{{ goal.title }}</a> </li>

                                {%  endfor %}



                            {%  else %}

                                <li>There are no goals in your network set for today</li>

                            {%  endif %}
                        </ul>

                    </div>

                </div>

            </div>
            <div class="seven columns">

                <h2>Create a new goal</h2>

                <div class="row">


                    <form action="{{path('goal_create')}}" target="add_goal" method="post">

                        <div class="twelve columns">

                            <div class="row">

                                <div class="six columns">
                                    {{form_label(form.title)}}
                                </div>

                                <div class="six columns">
                                    {{form_widget(form.title)}}
                                </div>

                            </div>

                            <div class="row">

                                <div class="twelve columns">
                                    {{form_label(form.description)}}
                                </div>

                            </div>

                            <div class="row">

                                <div class="twelve columns">
                                    {{form_widget(form.description)}}
                                </div>

                            </div>

                            <div class="row">

                                <div class="six columns">
                                    {{form_label(form.access_level)}}
                                </div>

                                <div class="six columns">
                                    {{form_widget(form.access_level)}}
                                </div>

                            </div>

                            <div class="row">

                                <div class="twelve columns">
                                    {{form_label(form.image)}}
                                </div>

                            </div>

                            <div class="row">

                                <div class="twelve columns">
                                    {{form_widget(form.image)}}
                                </div>

                            </div>

                            <div class="row">

                                <div class="six columns">
                                    {{form_label(form.goal_category)}}
                                </div>

                                <div class="six columns">
                                    {{form_widget(form.goal_category)}}
                                </div>

                            </div>

                            <div class="row">

                                <div class="twelve columns">
                                    {{form_label(form.timeframe)}}
                                </div>

                            </div>

                            <div class="row">

                                <div class="twelve columns">
                                    {{form_widget(form.timeframe)}}
                                </div>

                            </div>

                            {{form_rest(form)}}
                            {{form_errors(form)}}

                            <input class="button" type="submit" value="Create" />
                    </form>



                </div>

            </div>
            <iframe name="add_goal" id="add_goal_iframe" style="display:none"></iframe>

            </div>

        </div>

{%  endblock %}