{% extends '::base.html.twig' %}

{% block body %}

<div class="row">

    <div class="three columns">

        {% include 'ZTUserBundle:Default:profile.html.twig'  with {'header': 'Profile','profile': profile} %}
        
    </div>
    
    <div class="three columns">
    
        {% include 'ZTUserBundle:Default:goals.html.twig' with {'header': 'Public Goals', 'goals': public_goals} %}    
    
    </div>
    <div class="three columns">
    
    
    
    </div>
    
    <div class="three columns">
    
        {% include 'ZTUserBundle:Default:goals.html.twig' with {'header': 'Other Public Goals', 'goals': other_public_goals} %}    
    
    </div>  
    
</div>
  
{% endblock %}
