{% extends '::authenticated.html.twig' %}

{% block body %}

{#<div class="row">#}

    {#<div class="twelve columns">#}

      {#<p><strong>On this day in 1874:</strong> Absolutely nothing out the ordinary happened!</p>#}

    {#</div>#}
    {##}
{#</div>#}

<div class="row">

    <div class="nine columns">

        <div class="row">

            <div class="twelve columns red_header">

                <div class="row shadow_box">

                    <div class="four columns"><h2>New Goals In Your Network</h2></div>
                    <div class="four columns"><h2>New Posts In Your Network</h2></div>
                    <div class="four columns"><h2>Your Calendar</h2></div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="four columns ">

                <div class="row right-padding">

                    <div class="twelve columns center_panel shadow_box">

                        {% include  'ZTUserBundle:Default:new_goal_list.html.twig' with {goals : new_goals_in_network} %}

                    </div>

                </div>

            </div>

            <div class="four columns">

                <div class="row right-padding">

                    <div class="twelve columns center_panel shadow_box">

                        {% include  'ZTUserBundle:Default:new_post_list.html.twig' with {posts : new_posts_in_network} %}

                    </div>

                </div>

            </div>

            <div class="four columns">

                <div class="row">

                    <div class="twelve columns center_panel shadow_box"><div id="calendar"></div></div>

                </div>

            </div>

        </div>

    </div>

    <div class="three columns">

            <div class="row left-padding">

                <div class="twelve columns grey_side_panel shadow_box ">

                    {%  include 'ZTUserBundle:Profile:profile_view.html.twig' with {'my_user' : my_user} %}

                </div>

            </div>


    </div>

</div>

<div class="row">

    <div class="twelve columns red_header">

        <div class="row shadow_box">

            <div class="four columns"><h2>New Goals In Our Network</h2></div>


        </div>

    </div>

</div>

<div class="row">

    <div class="twelve columns center_panel shadow_box">

        {% include  'ZTUserBundle:Default:new_three_column_goal_list.html.twig' with {goals : other_goals} %}

    </div>

</div>

{#<div class="row">#}

    {#<div class="four columns network_goals">#}
    {##}
        {#<h2>New Goals In Your Network</h2>#}
    {##}
        {#{% include  'ZTUserBundle:Default:new_goal_list.html.twig' with {goals : new_goals_in_network} %}#}

    {#</div>#}
    {##}
    {#<div class="four columns">#}
    {##}
        {#<h2>New Posts In Your Network</h2>#}
    {##}
        {#{% include  'ZTUserBundle:Default:new_post_list.html.twig' with {posts : new_posts_in_network} %}#}

    {#</div>#}
    {##}
    {#<div class="four columns">#}
    {##}
        {#<div class="row">#}
        {##}
            {#<div class="twelve columns">#}
            {##}
                {#<div id="calendar"></div>#}
            {##}
            {#</div>#}
        {##}
        {#</div>#}

        {#<div class="row">#}
        {##}
            {#<div class="twelve columns">#}
    {##}
                {#<h2>New Messages In Your Inbox</h2>#}
    {##}
            {#</div>#}
    {#</div>    #}
{#</div>#}

{#<div class="row">#}

    {#<div class="twelve columns ">#}
    {##}
        {#<h2>New Goals In Our Network</h2>#}
    {##}
    {#</div>#}
  {##}
{#</div>#}
{#<div class="row">#}
       {#{% for goal_list in other_goals %}#}

        {#<div class="four columns other_goals">#}
        {##}
            {#{% include  'ZTUserBundle:Default:new_goal_list.html.twig' with {goals : goal_list} %}#}
    {##}
        {#</div>#}

     {#{% endfor%}#}
  {##}
{#</div>#}
  {##}
{##}
{% endblock %}

{% block javascripts %}
            <script src="/js/library/jquery.js"></script>        
            <script src="/js/library/colorbox/colorbox/jquery.colorbox-min.js"></script>
                        <script src="/js/jquery.ztcolorbox.js"></script> 
            <script src="/js/library/fullcalendar/fullcalendar.min.js"></script>
            <script src="/js/ViewGoalCallback.js"></script>
                        <script src="/js/Dashboard.js"></script> 

    
{% endblock %}
{% block stylesheets %}

             <link rel="stylesheet"  href="{{asset('css/library/colorbox/colorbox.css')}}" />
             <link rel="stylesheet"  href="{{asset('css/library/fullcalendar/fullcalendar.css')}}" />
{% endblock %}




