{% set editable = ['public','private']%}

<div id="{{type|lower}}_goals">

  <div class="row profile">
   
  <div class="twelve columns">
      <h2>{% if(type) == "public" %} Public Goals
          {% elseif(type) == "private" %} Private Goals
          {% elseif(type) == "other" %} Other Public Goals
          {% elseif(type) == "supported" %} You are Supporting the following Goals  
                  {% endif %}
      </h2>    
      
      {% if user.equals(my_user) and type in editable %}
      
          <div class="row">
      
              <div class="twelve columns control_panel">
          
                  <ul>
                      <li><a href="{{path('goal_create')}}" class="add_goal">Add</a></li>
                  </ul>
      
              </div>
          
          </div>
      
      {% endif %}
      
      {%for goal in goals %}
      
          {% include 'ZTUserBundle:Goal:list_view.html.twig' with {'goal' : goal } %}
      
      {%endfor %}
      
  </div>
  
  </div>    

</div>    