<div class="row new_goal_header">

    <div class="ten columns no-padding">

        <h3>{{goal.user.getIdentifier()}}</h3>
    </div>
    <div class="two columns padding-3">



        {%  if goal.getAccessLevel().getAccessLevel() == 'Private' %}

            <img src="/img/lock.png" alt="private" />

        {%  endif %}
    </div>
</div>

<div class="row new_goal_body">

    <div class="twelve columns">

        <div class="row">

            <div class="eight columns">

                <input type="hidden" id="goal_id" value="{{ goal.id }}" />


                <p>{{goal.getTitle()}}<br />  in

                                    <span class="numbers">{% for number in NG.getNumber(goal.getDaysRemaining()) %}

                                        <span>{{ number }}</span>

                                    {% endfor %}</span> days</p>

            </div>

            <div class="four columns padding-2">

                <div class="row">

                    <div class="twelve columns">

                        <img src="{{goal.getImage()}}" alt="{{goal.getTitle()}}" />

                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="twelve columns">

                <span>{{goal.createdOn.format('h:m:s d-m-y') }}</span>

            </div>

        </div>


    </div>

</div>
