{% extends '::authenticated.html.twig' %}

{% block body %}
    <div class="row">
{{ url('goal_view', {'goal_id' : 1}) }}
        <div class="nine columns">

            <div class="row">

                <div class="twelve columns red_header">

                    <div class="row shadow_box">

                        <div class="four columns"><h2>My Profile</h2></div>
                        <div class="four columns"><h2>Private Goals</h2></div>
                        <div class="four columns"><h2>Public Goals</h2></div>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="four columns ">

                    <div class="row right-padding">

                        <div class="twelve columns red_side_panel shadow_box">

                            {%  include 'ZTUserBundle:Profile:profile_view.html.twig' with {'user' : user} %}
                        </div>

                    </div>

                </div>

                <div class="four columns">

                    <div class="row right-padding">

                        <div class="twelve columns center_panel shadow_box">

                            <div class="row no-padding">

                                <div class="twelve columns control_panel">

                                    <ul>

                                        <li><a href="{{ path('goal_create', {'access_level' : 'private'}) }}"  class="add_goal">Add</a></li>

                                    </ul>

                                </div>

                            </div>

                            <div class="row no-padding">

                                <div class="twelve columns">

                                    {% render url('goal_list', {'goal_type' : 'private','user_id' : user.id}) %}

                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="four columns">

                    <div class="row no-padding">
                        
                        <div class="twelve columns center_panel shadow_box">

                            <div class="row no-padding">

                                <div class="twelve columns control_panel">
                                    
                                    <ul>
                                        
                                        <li><a href="{{ path('goal_create', {'access_level' : 'Public'}) }}" class="add_goal">Add</a></li>

                                    </ul>
                                    
                                </div>

                            </div>
                            
                            <div class="row no-padding">

                                <div class="twelve columns">
                       
                                    {% render url('goal_list', {'goal_type' : 'public','user_id' : user.id}) %}

                                </div>
                                
                            </div>        
                                    
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="three columns">

            <div class="row left-padding">

                <div class="twelve columns grey_side_panel shadow_box ">

                    <div class="row no-padding">

                        <div class="twelve columns">

                            <h2 class="grey_header padding-5">Messenger</h2>

                        </div>

                    </div>

                    <div class="row no-padding">

                        <div class="twelve columns control_panel">

                            <ul>

                                <li><a href="{{ path('message_create') }}" class="create_message">New Message</a></li>

                            </ul>

                        </div>

                    </div>

                    <div class="row no-padding">

                        <div class="twelve columns">

                            {%  include 'ZTUserBundle:Message:list_view.html.twig' with {'messages' : messages} %}

                        </div>

                    </div>

                </div>

            </div>


        </div>

    </div>

    <div class="row">

        <div class="twelve columns red_header">

            <div class="row shadow_box">

                <div class="four columns"><h2>New Goals In Our Network</h2></div>


            </div>

        </div>

    </div>

    <div class="row">

        <div class="twelve columns grey_side_panel shadow_box">

            {% include  'ZTUserBundle:Default:new_three_column_goal_list.html.twig' with {goals : other_goals} %}

        </div>

    </div>
{#<div class="row">#}


    {#<div class="nine columns">#}


        {#<div class="row">#}

            {#<div class="four columns" id="profile_container">#}

                {#{% render url('profile_view', {'id':user.id}) %}#}

            {#</div>#}


            {#<div class="four columns">#}

                {#{%if user.equals(my_user) %}#}

                {#{% render url('goal_list', {'goal_type' : 'private','user_id' : user.id}) %}#}

                {#{% endif %}#}

            {#</div>#}
            {#<div class="four columns">#}

                {#{% render url('goal_list', {'goal_type' : 'public','user_id' : user.id}) %}#}

            {#</div>#}

        {#</div>#}

    {#</div>#}

    {#<div class="three columns">#}

        {#<div class="row">#}
            {#<h2>Messenger</h2>#}
            {##}
            {#<div class="control_panel">#}
            {##}
                {#<ul>#}
    {##}
                    {#<li><a href="{{  path('message_create') }}" class="create_message">New Message</a></li>#}
    {##}
                {#</ul>#}
       {##}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#{%  include 'ZTUserBundle:Message:list_view.html.twig' %}#}
        {#</div>#}


    {#</div>#}

{#</div>#}

{% endblock %}

{% block javascripts %}
            <script src="/js/library/jquery.js"></script>        
            <script src="/js/library/colorbox/colorbox/jquery.colorbox-min.js"></script>
            <script src="/js/jquery.ztcolorbox.js"></script>  

                <script src="/js/NG.js"></script> 
                <script src="/js/Goal.js"></script>
    <script src="/js/EditGoalCallback.js"></script>
    <script src="/js/ViewGoalCallback.js"></script>
    <script src="/js/Profile.js"></script>

    
{% endblock %}
{% block stylesheets %}

             <link rel="stylesheet"  href="{{asset('css/library/colorbox/colorbox.css')}}" />
{% endblock %}




