<div class="twelve columns goal_list_container">
        {% if goals|length > 0%}
            {% for goal in goals %}
        {% if goal.id is defined %}
        <div class="row goal view_goal">

            <div class="twelve columns">
 
                {%  include 'ZTUserBundle:Default:goal.html.twig' %}

            </div>


        </div>
    {% endif %}    
    {% endfor %}
    {% endif %}

</div>