<div class="twelve columns goal_list_container">
    <div class="row">
        {% if goals|length > 0%}
            {% for goal in goals %}
        {% if goal.id is defined %}

            <div class="three columns goal view_goal">

                {%  include 'ZTUserBundle:Default:goal.html.twig' %}

            </div>


        {% endif %}
        {% endfor %}
        {% endif %}

    </div>
</div>