<div class="twelve columns post_list_container">
    {% if posts|length > 0%}
        {% for post in posts %}
            {% if post.id is defined %}
                <div class="row post view_goal">

                    <div class="twelve columns">

                        <div class="row new_post_header">

                            <div class="two columns padding-2">
                                <img src="{{post.supporter.profile.getImage()}}" alt="{{ post.supporter.getIdentifier() }}" />

                            </div>
                            <div class="ten columns left-padding-5">
                                <h3>{{post.supporter.getIdentifier()}}</h3>

                            </div>
                        </div>

                        <div class="row new_post_body">

                            <div class="twelve columns">

                                <div class="row">

                                    <div class="two columns no-padding">
                                    </div>
                                    <div class="ten columns left-padding-5">
                                        <input type="hidden" id="post_id" value="{{ post.id }}" />
                                        <h3>{{post.goal.title}}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="twelve columns left-padding">


                                        <p>{{post.comment}}</p>

                                    </div>

                                    <div class="twelve columns">

                                        <span>{{post.createdOn.format('h:m:s d-m-y') }}</span>

                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>


                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

</div>



{#<div id="new_post_list_container">#}

    {#{% for post in posts %}#}
    {##}
        {#<div class="post view_goal" >#}
 {##}
            {#<div class="row new_post_header">#}
                  {##}
                {#<div class="two columns poster_image" style="padding:5px;">#}
                    {#<img src="{{post.getGoal().getUser().getProfile().image}}" alt="post.getGoal().getUser().getProfileIdentier()"> #}
                    {##}
                {#</div>#}
                {#<div class="ten columns">#}
                    {#<h3>{{ post.getGoal().description|truncate(20) }}</h3>  #}
                    {#<p class="post_date">{{post.getGoal().createdOn.format('h:m:s d-m-yy') }}</p>                      #}
                {#</div>#}
            {#</div>#}
            {##}
            {#<div class="row new_post_body">#}
                  {##}
                {#<div class="twelve columns">#}
                    {#<input type="hidden" id="goal_id" value="{{ post.goal.id }}" />#}
                    {#<p>{{post.getSupporter().getProfileIdentifier()}}: {{post.comment|truncate(20) }}</p>#}
                    {#<p class="post_date">{{post.createdOn.format('h:m:s d-m-yy') }}</p> #}
                  {#</div>#}
                {##}
            {#</div> #}
              {##}



        {#</div>#}
    {##}
    {#{% endfor %}#}


{#</div>#}