<form action="{{path('goal_put')}}" method="post" id="form_post">

    {{form_rest(form)}}
    {{form_errors(form)}}
    <input type="hidden" value="put" name="_method" />

    <input class="button" type="submit" value="Post Comment" id="submit_post" />
</form>
