{% for p in psts %}

    <div class="row">
    
        <div class=" twelve columns">
    
            <div class="post_profile_image">
        
               <img width= "45" src="{{p.getSupporter().getProfile().getImage()}}" />
            </div>
            <div class="post">
                <div><a href="{{path( 'profile', {'id': p.getSupporter().getProfileIdentifier()} )}}" >{{p.getSupporter().getIdentifier()}}</a></div>
                <div>{{p.comment}}</div>
                <div>{{p.createdOn.format('h:m:s d-m-yy')}}</div>
            </div>
            
            {% if user.equals(my_user) or p.supporter.equals(my_user) %}
            
            <div class="control_panel">
            
                <form class="delete_post" action="{{path('goal_delete')}}" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <ul>
                
                        <li>{{form_rest(p.form)}}<input type="submit" class="button" name="delete" value="delete" /></li>
                
                        
                
                    </ul>
            
                </form>
            
    
            
            </div>
            
                    {% endif %}  
                    
                    
        </div> 
        
    </div>


{% endfor %}