{% extends '::unauthenticated.html.twig' %}

{% block javascripts %}
    <script src="/js/library/jquery.js"></script>
    <script src="/js/library/jquery-ui-1.9.1.custom.min.js"></script>
    <script src="/js/DOBPicker.js"></script>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/library/ui-lightness/jquery-ui-1.9.1.custom.min.css')}}" />
{% endblock %}


{%block body%}

    <div class="row top-padding-100">

        <div class="two columns"></div>
        <div class="eight columns red_header">

            <div class="row shadow_box">

                <div class="twelve columns"><h2>Create Your Zimtam Account</h2></div>

            </div>

        </div>

        <div class="two columns"></div>


    </div>
    <div class="row">

        <div class="two columns"></div>
        <div class="eight columns center_panel shadow_box padding-15" >

            <form action="{{ path('register') }}" method="post">

                <div class="row">
                    <div class="six columns">
                        {{form_label(form.user.date_of_birth)}}
                    </div>
                    <div class="six columns">
                        {{form_widget(form.user.date_of_birth)}}
                    </div>

                </div>
                <div class="row">
                    <div class="six columns">
                        {{form_label(form.user.email)}}
                    </div>
                    <div class="six columns">
                        {{form_widget(form.user.email)}}
                    </div>

                </div>
                <div class="row">
                    <div class="six columns">
                        {{form_label(form.user.password)}}
                    </div>
                    <div class="six columns">
                        {{form_widget(form.user.password)}}
                    </div>

                </div>

                <div class="row">
                    <div class="six columns">
                        {{form_label(form.terms_accepted)}}
                    </div>
                    <div class="six columns">
                        {{form_widget(form.terms_accepted)}}
                    </div>

                </div>
                <div class="row no-padding">

                    <div class="twelve columns">

                        <input class="button" type="submit" value="Register" />


                    </div>

                </div>

            </form>


        </div>
        <div class="two columns"></div>

    </div>

    <div class="row">

        <div class="two columns"></div>

        <div class="eight columns padding-15">

            <a href="{{ path('login') }}" >Login</a>

        </div>
        <div class="two columns"></div>


    </div>
{% endblock %}
