{% extends '::unauthenticated.html.twig' %}

{% block body %}


<div class="row top-padding-100">

    <div class="two columns"></div>
        <div class="eight columns red_header">

            <div class="row shadow_box">

                <div class="twelve columns"><h2>Welcome To Zimtam</h2></div>

            </div>

        </div>

    <div class="two columns"></div>


</div>
<div class="row">

    <div class="two columns"></div>
    <div class="eight columns center_panel shadow_box padding-15" >

        {% if error %}

            <div>{{error.message}}</div>

        {% endif %}

        <form action="{{ path('login_check') }}" method="post">

            <div class="row">

                <div class="six columns">

                    <label for="email">Email</label>

                    <input type="text" name="_username" id="username" value="{{ last_username }}" />

                </div>

                <div class="six columns">

                    <label for="password">Password</label>

                    <input type="password" name="_password" id="password" />

                </div>

            </div>

            <div class="row no-padding">

                <div class="twelve columns">

                    <input class="button" type="submit" value="Login" />


                    <p><a href="{{ path('password_request') }}">Reset Password</a></p>

                </div>

            </div>

        </form>


    </div>
    <div class="two columns"></div>

</div>

<div class="row">

    <div class="two columns"></div>

    <div class="eight columns padding-15">

        <a href="{{ path('register') }}" >Register</a>

    </div>
    <div class="two columns"></div>


</div>
{% endblock %}