{% extends '::unauthenticated.html.twig' %}

{% block body %}


<div class="row top-padding-100">

    <div class="two columns"></div>
    <div class="eight columns red_header">

        <div class="row shadow_box">

            <div class="twelve columns"><h2>Request New Password</h2></div>

        </div>

    </div>

    <div class="two columns"></div>


</div>
<div class="row">

    <div class="two columns"></div>
    <div class="eight columns center_panel shadow_box padding-15" >


        <form action="{{ path('password_request') }}" method="post">
            <div class="row">

                <div class="six columns">

                    {{ form_label(form.email) }}
                </div>

                <div class="six columns">

                    {{ form_widget(form.email) }}
                    {{ form_errors(form) }}
                    {{ form_rest(form) }}
                </div>

            </div>
            <div class="row no-padding">

                <div class="twelve columns">

                    <input class="button" type="submit" value="Request New Password" />

                    <p><a href="{{ path('login') }}">Login</a></p>

                </div>

            </div>
        </form>

    </div>
    <div class="two columns"></div>
</div>

<div class="row">

    <div class="two columns"></div>

    <div class="eight columns padding-15">

        <a href="{{ path('register') }}" >Register</a>

    </div>
    <div class="two columns"></div>


</div>

{%  endblock %}