{% extends '::colorbox.html.twig'%}
{% block body %}
<div id="add_goal_container">

     <div class="row">
               
            
        <form action="{{path('goal_create')}}" target="add_goal" method="post">
        
            <div class="twelve columns">
            
                <div class="row">
                
                    <div class="six columns">
                         {{form_label(form.title)}}
                    </div>
                                
                    <div class="six columns">
                         {{form_widget(form.title)}}
                    </div>
                
                </div>

                <div class="row">
                
                    <div class="six columns">
                         {{form_label(form.description)}}
                    </div>
                                         
                    <div class="six columns">
                         {{form_widget(form.description)}}
                    </div>
                
                </div>

                <div class="row">
                
                    <div class="six columns">
                         {{form_label(form.access_level)}}
                    </div>
                                
                    <div class="six columns">
                         {{form_widget(form.access_level)}}
                    </div>
                
                </div>                

                <div class="row">
                
                    <div class="six columns">
                         {{form_label(form.image)}}
                    </div>
                                
                    <div class="six columns">
                         {{form_widget(form.image)}}
                    </div>
                
                </div>                

                <div class="row">
                
                    <div class="six columns">
                         {{form_label(form.goal_category)}}
                    </div>
                                
                    <div class="six columns">
                         {{form_widget(form.goal_category)}}
                    </div>
                
                </div>
                
                <div class="row">
                
                    <div class="six columns">
                         {{form_label(form.timeframe)}}
                    </div>

                    <div class="six columns">
                         {{form_widget(form.timeframe)}}
                    </div>
                
                </div>

            {{form_rest(form)}}
            {{form_errors(form)}}

            <input class="button" type="submit" value="Create" />
            </form>



        </div>

    </div>
           <iframe name="add_goal" id="add_goal_iframe"></iframe>

</div>
{% endblock %}