        <div class="row">
        
            <div class="twelve columns">
        
                <div class="row">
        
                    <div class="four columns">
            
                        <img src="{{goal.getImage()}}" alt="{{goal.title}}" />
            
                    </div>        
        
                    <div class="eight columns goal">
            
                            <h3><a href="{{path('goal_view', {'goal_id': goal.id}) }}" class="view_goal">{{goal.title}}</a></h3>
                         
                     </div>
                
                </div>
               
                <div class="row">
                
                    <div class="twelve columns">
                    
                        <span> <a href="{{path('profile_mini', {'id': goal.getUser().getProfileIdentifier()}) }}" class="cb">{{goal.getUser().getIdentifier()}}</a></span>
     
                    </div>
                    
                </div>
                
                <div class="row">
                
                    <div class="six columns">   
                                       
                        <div class="control_panel">
        
                            <ul>
                             {% if goal.getUser().equals(my_user) %}
                                 <li><a href="{{path('goal_edit',{'goal_id':goal.id})}}" class="edit_goal">Edit</a></li>
                             {% else %}
                             
                                 {% if goal.isSupportedBy(my_user) %}
                             
                                     <li><a href="{{path('goal_unsupport',{'goal_id':goal.id})}}">Unsupport</a></li>                                     
                             
                                 {% else %}
 
                                     <li><a href="{{path('goal_support',{'goal_id':goal.id})}}">Support</a></li> 
                                 
                                 {%endif %}
                          {% endif %}  
                            </ul>
    
                        </div>
                       
                    
                    </div>
                                    
                    <div class="six columns">
                    
                        <span>{% for image in NG.getImage(goal.getDaysRemaining()) %}
                        
                            <img src="{{image}}" alt="" title="Days Remaining" />
                        
                           {% endfor %}
                        </span>
                    
                    </div>
                
                </div>
            
            </div>
        
        </div>