{% extends '::colorbox.html.twig'%}
{% block body %}

    {% for goal in suggestions %}       
         
         <div class='row'>
         
             <div class='four columns'>
             
                 <img src='{{goal.image}}' />  
             
             </div>
             
             <div class='eight columns'>
             
                 <h3><a href='{{path('goal_view', {'goal_id': goal.id})}}' class="cb">{{goal.title}}</a></h3>
                 
             </div>
         
         </div>
         
         <div class='row'> 
         
             <div class='six columns'>
         
                 <span><a href='{{path('profile_mini', {'id': goal.user.getProfileIdentifier() }) }}'  class="cb">{{goal.user.getIdentifier() }}</a></span>
         
             </div> 
         
             <div class='six columns'>
         
                 <span>
                 
                     {% for image in NG.getImage(goal.getDaysRemaining()) %}
                 
                         <img src='{{image}}' alt='' title='Days Remaining' />
                 
                     {% endfor %}  
 
                 </span>
                        
            </div>
         
         </div>         
 
    {% endfor %} 
 
{% endblock %}