{% extends '::colorbox.html.twig'%}
{% block body %}

    <div class="row">

        <div class="twelve columns">
            
            <div class="row">
    
                <div class="twelve columns">        
             
                    <h2>{{goal.title}}</h2>
                  
                </div>
                
            </div>
            
            <div class="row">
            
                <div class="eight columns">
                 
                     <div class="row">
                 
                         <div class="twelve columns goal_view">
                 
                             <img src="{{ goal.image }}" alt="{{goal.title}}" />
                 
                             {{goal.description}} 
                             
                         </div>
                         
                     </div>

                     <div class="row">
                 
                         <div class="twelve columns">
                 
                            {% include 'ZTUserBundle:Default:post_form.html.twig' with {'type': 'goal'} %}
                             
                         </div>
                         
                     </div>
                     
                    
                     
                         <div class="row">
                 
                             <div class="twelve columns" id="post_list">
                        {% if posts is not empty %}
                                {% include 'ZTUserBundle:Default:post_view.html.twig' with {'psts': posts} %}
                               {% endif %} 
                             </div>
                         
                         </div>
                     
                  
                     
                </div> 
                 
            
                
                <div class="four columns">


                    <div class="row">

                        <div class="twelve columns">


                            <div class="control_panel">

                                <ul>

                                    {%  if my_user.equals(goal.user) %}

                                        <li><a href="{{ path('goal_edit', {'goal_id' : goal.id }) }}" class="edit_goal">Edit</a></li>

                                    {%  else  %}

                                        {%  if goal.isSupportedBy(my_user) %}

                                            <li><span>You are already supporting this goal</span></li>

                                        {%  else %}

                                            <li><a href="{{ path('goal_support', {'goal_id' : goal.id }) }}" class="support_goal" >Support this goal</a></li>{%  endif  %}

                                    {%  endif  %}
                                </ul>

                            </div>

                        </div>

                    </div>

                    <table>
                        <tr><th>Days old</th><td>{{goal.getDaysOld()}}</td></tr>
                        <tr><th>Goal Time</th><td>{{goal.timeframe}}</td></tr>
                        <tr><th>Days To Go</th><td>{{goal.getDaysRemaining()}}</td></tr>
                    </table>

                    {% for supporter in goal.getSupporters() %}
                     {%if my_user.equals(supporter) %}
                         <p> <a href="{{path('profile')}}">{{supporter.email}}</a></p>
                     {% else %}                     
                         <p> <a href="{{path('profile',{'id':supporter.id})}}">{{supporter.getProfileIdentifier}}</a></p>
                     
                     {% endif %}
                     
                     {% endfor %}
                    
                    

                </div>
            
            </div>

        
        
            
        
        </div>
    
    
    </div>

{% endblock %}