<div class="row">

    <div class="twelve columns">
    
        <div class="row">
        
            <div class="two columns">
            
                <img src="{{goal.getImage()}}" alt="{{goal.title}}" />
            
            </div>
            
            <div class="ten columns">
            
                <div><a href="{{path('goal_view',{goal_id:goal.id})}}" class="view_goal">{{goal.title}}</a></div>
                <div><a href="{{path('profile_mini',{id:goal.getUser().getProfileIdentifier()})}}" class="cb">{{goal.getUser().getIdentifier()}}</a></div>
            
            </div>            
        
        </div>    
    
    </div>

</div>