{% extends '::authenticated.html.twig' %}

{% block body %}


    <div class="row ">

        <div class="twelve columns red_header">

            <div class="row shadow_box">

                <div class="twelve columns"><h2>Search for users and goals</h2></div>

            </div>

        </div>

    </div>
    <div class="row">

        <div class="twelve columns center_panel shadow_box padding-15" >

    
        <form action="{{path('search')}}" method="post">
        
            <div class="row">
            
                <div class="ten columns">
           
                    {{form_widget(form.searchtext)}}
                    
                </div>

                <div class="two columns">
           
                    <input type="submit" value="Search" class="button" />
                    
                </div>        
        </form>


        </div>
    </div>


{% if not results is null %}

<div class="row">
    
    <div class="twelve columns padding-15">
    
    <h2> Your search for "{{search_term}}" returned {{results|length}} results</h2>
    
        {% for result in results %}
        
            {% if result.getType() == "goal" %}
            
                {% include 'ZTUserBundle:Search:goal.html.twig' with {'goal': result} %}
            
            {% else %}

                {% include 'ZTUserBundle:Search:user.html.twig' with {'user': result} %}
            
            {% endif %}
        
        {% endfor %}
    
    </div>

</div>

{% endif %}

{% endblock %}
{% block javascripts %}
            <script src="/js/library/jquery.js"></script>        
            <script src="/js/library/colorbox/colorbox/jquery.colorbox-min.js"></script>
            <script src="/js/jquery.ztcolorbox.js"></script>  
            <script src="/js/ViewGoalCallback.js"></script> 
            <script src="/js/Search.js"></script>  
 
{% endblock %}
{% block stylesheets %}

             <link rel="stylesheet"  href="{{asset('css/library/colorbox/colorbox.css')}}" />
{% endblock %}