<div class="row">

    <div class="twelve columns">
    
        <div class="row">
        
            <div class="two columns">
            
                <img src="{{user.getImage()}}" alt="{{user.getUsername()}}" />
            
            </div>
            
            <div class="ten columns">
            
                <a href="{{path('closed_profile',{id:user.getProfileIdentifier()})}}">{{user.getIdentifier()}}</a>
            
            </div>            
        
        </div>    
    
    </div>

</div>